.FilterButtons {
  display: flex;
  gap: 10px;
  min-width: 500px;
}

.FilterButtons button {
  padding: 5px 10px;
  flex: 1 25%;
  border-radius: 5px;
  border: none;
  background-color: #4881eb;
  color: white;
  font-size: 18px;
  font-weight: 700;
  box-shadow: 3px 3px 5px #444;
}

.FilterButtons button:hover {
  background-color: #4072cf;
}

.FilterButtons button:focus {
  background-color: #4072cf;
}