.pokemon-content {
  display: flex;
  background-color: #4881eb;
  flex: 1 30%;
  border-radius: 10px;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 10px #444;
  color: white;
  font-weight: 700;
  max-width: 300px;
  margin: 10px 30px;
}

.pokemon-content:hover {
  background-color: #3b74dd;
}

.poke-info {
  text-align: center;
  line-height: 20px;
}