* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    transition: all ease-in-out 300ms;
}

body {
    font-size: 1.6rem;
}

h1 {
    font-family: sans-serif;
    font-size: 6.5rem;
    color: orange;
    width:60%;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 4.8rem;
    color: white;
    padding: 2rem;
    text-align: center;
}

ul {
    font-size: 3rem;
    color: white;
    font-style: italic;
    line-height: 3rem;
    list-style: none;
    text-align: center;
}

li:nth-child(1) {
    background: yellow;
    color: black;
}

li:nth-child(1):hover {
    background: black;
    color: yellow;
    font-weight: bold;
}

li:nth-child(2) {
    background: red;
    color: black;
}

li:nth-child(2):hover {
    background: black;
    color: red;
    font-weight: bold;
}

li:nth-child(3) {
    background: green;
    color: black;
}

li:nth-child(3):hover {
    background: black;
    color: green;
    font-weight: bold;
}

.bg-color {
    width: 60%;
    background: rgba(26, 25, 24, 0.6);
}